{% extends "base.html" %} {% block title %}Music{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
    #popup-link-music::before {
    content: "How it helps?";
    }

    .btn-img:hover {
      filter: brightness(80%); /* Reduce the brightness on hover */
    }
</style>

<script>
    // Function to change the image
    function changeImage(imageId, imagePath) {
      var image = document.getElementById(imageId);
      image.src = imagePath;
    }
  </script>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
    <button onclick="changeColor_green()" class="color-button green"></button>
    <button onclick="changeColor_yellow()" class="color-button yellow"></button>
    <button onclick="changeColor_orange()" class="color-button orange"></button>
    <button onclick="changeColor_red()" class="color-button red"></button>
    <button onclick="changeColor_blue()" class="color-button blue"></button>
    <button onclick="changeColor_purple()" class="color-button purple"></button>
    <button onclick="changeColor_grey()" class="color-button grey"></button>
    <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
    <button onclick="changeColor_white()" class="color-button white"></button>
    <span class="info-icon">🛈</span>
  </p>  

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/btn-music.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Listen To Music</b></i>&nbsp;</h2>
    <p>
        <a href="https://www.unr.edu/counseling/virtual-relaxation-room/releasing-stress-through-the-power-of-music" class="popup-link" id="popup-link-music" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    Melodies dance, stress takes flight, as music's soothing embrace brings respite.
</p>

<p style="text-align: justify; flex: 1; margin-top: 10px; margin-bottom: 1cm;">
    Explore soothing melodies and click the any icons to discover any types of music for instant stress relief.
</p>
<br />
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <!-- Classical Music -->
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <a href="https://www.youtube.com/@VoicesofMusic/featured" target="_blank">
            <img src="{{ url_for('static', filename='/image/classical-music.png') }}" alt="Classical" 
            style="width:150px; height:150px;" id="myList1"  class="btn-img"
            onclick="changeImage('myList1', '{{ url_for('static', filename='/image/conductor.png') }}')">
          </a>
        <p style="text-align: center; flex: 1; margin-top: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Classical
        </p>
      </div>
  <!-- Chinese Traditional -->
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 80px;">
        <a href="https://www.youtube.com/@CNTO/playlists" target="_blank">
            <img src="{{ url_for('static', filename='/image/chinese-traditional.png') }}" alt="Chinese Traditional" 
            style="width:150px; height:150px;" id="myList2"  class="btn-img"
            onclick="changeImage('myList2', '{{ url_for('static', filename='/image/cymbals.png') }}')">
          </a>
        <p style="text-align: center; flex: 1; margin-top: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Chinese Traditional
        </p>
      </div>
  <!-- Jazz -->
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 80px;">
        <a href="https://youtu.be/NKDI-60H-5s" target="_blank">
            <img src="{{ url_for('static', filename='/image/jazz.png') }}" alt="Jazz" 
            style="width:150px; height:150px;" id="myList3"  class="btn-img"
            onclick="changeImage('myList3', '{{ url_for('static', filename='/image/live-music.png') }}')">
          </a>
        <p style="text-align: center; flex: 1; margin-top: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          Jazz
        </p>
      </div>
  <!-- ASMR -->
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 80px;">
        <a href="https://youtu.be/FGW_nNV1zwo" target="_blank">
            <img src="{{ url_for('static', filename='/image/asmr.png') }}" alt="ASMR" 
            style="width:150px; height:150px;" id="myList4"  class="btn-img"
            onclick="changeImage('myList4', '{{ url_for('static', filename='/image/microphone.png') }}')">
          </a>
        <p style="text-align: center; flex: 1; margin-top: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
          ASMR
        </p>
      </div>
  <!-- Bungo Cat -->
      <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 80px;">
        <a href="https://www.youtube.com/@BongoCat" target="_blank">
            <img src="{{ url_for('static', filename='/image/cat.png') }}" alt="Bungo Cat" 
            style="width:150px; height:150px;" id="myList5"  class="btn-img"
            onclick="changeImage('myList5', '{{ url_for('static', filename='/image/paw.png') }}')">
          </a>
        <p style="text-align: center; flex: 1; margin-top: 10px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
            Bungo Cat
        </p>
      </div>
    </div>
<br /><br />
<p style="text-align: justify;">Ready for a musical adventure? Explore our collection of 75 tracks in the 
    <a href="/activity/music/random-music"><b>Random Music</b></a>
    section. 
    Click the link, let fate decide, and be pleasantly surprised with a hidden musical gem! 
    Embrace the excitement and add a dash of surprise to your stress-relieving experience. 
    Get ready to press play and enjoy the unexpected!</p>
{% endblock %}