{% extends "base.html" %} {% block title %}Drawing{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
      #popup-link-ani::before {
        content: "How it helps?";
      }
    
    /* For drawing pad */
    
    * {
      font-family:
      sans-serif;
    }

    #settings { 
      display: block; 
      text-align:center
    }

    #paint {
      border: 1px solid #CBCBCB; 
      background : #ffffff; 
      margin-left: auto; 
      margin-right: auto; 
      display: block;
    }
    </style>

<br />
<h1 align="center">Activity</h1>
<p style="line-height: 1; font-size: 12px; text-align: right;" class="popup-info">
  <span style="font-size: 16px;">🛈</span>
  <button onclick="changeColor_green()" 
  style="color: #C7EDCC; background-color: #C7EDCC; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_yellow()" 
  style="color: #FAF9DE; background-color: #FAF9DE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_orange()" 
  style="color: #FFF2E2; background-color: #FFF2E2; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_red()" 
  style="color: #FDE6E0; background-color: #FDE6E0; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_blue()" 
  style="color: #DCE2F1; background-color: #DCE2F1; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_purple()" 
  style="color: #E9EBFE; background-color: #E9EBFE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_grey()" 
  style="color: #EAEAEF; background-color: #EAEAEF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_greenLight()" 
  style="color: #E3EDCD; background-color: #E3EDCD; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  <button onclick="changeColor_white()" 
  style="color: #FFFFFF; background-color: #FFFFFF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
</p>

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/btn-drawing.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Drawing</b></i>&nbsp;</h2>
    <p>
        <a href="https://www.healthline.com/health/mental-health/anxiety-drawing" class="popup-link" id="popup-link-ani" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    <i>Discover the Therapeutic Benefits of Drawing: </i>
    <br>Unleash your Creativity, Relieve Stress, and Find Inner Peace through the Meditative Art of Drawing.
</p>


<!-- Drawing pad -->

<div id="sketch">
  <canvas id="paint"></canvas>
</div>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <div id="color-settings" style="margin-top: 20px; display: flex; flex-direction: row;"> 
    <p>Colours: </p>
    <input type="color" id="colorPicker" style="margin-left: 10px; height: 40px; width: 2cm;">
    
    {#
    <button onclick="getColor('blue');" class="btn btn-info" style="margin-left: 10px;">Blue</button>
    <button onclick="getColor('red');" class="btn btn-info" style="margin-left: 10px;">Red</button>
    <button onclick="getColor('green');" class="btn btn-info" style="margin-left: 10px;">Green</button>
    <button onclick="getColor('black');" class="btn btn-info" style="margin-left: 10px;">Black</button> #}
    
    <p style="margin-left: 2cm;">Erases: </p>
    <button onclick="getColor('#ffffff');" class="btn btn-info" style="margin-left: 10px;">Eraser</button> 
  </div>

  <div id="brush-settings" style="margin-top: 20px; display: flex; flex-direction: row;"> 
    <p style="margin-left: 2cm;">Brush Size: </p>
    <button onclick="getSize('2');" class="btn btn-info" style="margin-left: 10px;">Small</button>
    <button onclick="getSize('5');" class="btn btn-info" style="margin-left: 10px;">Med</button>
    <button onclick="getSize('10');" class="btn btn-info" style="margin-left: 10px;">Large</button>
    <button onclick="getSize('20');" class="btn btn-info" style="margin-left: 10px;">X Large</button>
  </div>

  <div id="save-settings" style="margin-top: 20px; display: flex; flex-direction: row;"> 
    <button onclick="saveDrawing();" class="btn btn-dark" style="margin-left: 2cm;">Save Drawing</button>
  </div>
</div>


<div id="settings" style="margin-top: 10px;"> 
</div>

<br /><br /><br />

<!-- JavaScript -->
<script>
  // for drawing pad
  var canvas = document.getElementById('paint');
  var ctx = canvas.getContext('2d');
   
  var sketch = document.getElementById('sketch');
  var sketch_style = getComputedStyle(sketch);
  canvas.width = 1120;
  canvas.height = 500;
  
  var mouse = {x: 0, y: 0};
   
  /* Mouse Capturing Work */
  canvas.addEventListener('mousemove', function(e) {
    mouse.x = e.pageX - this.offsetLeft;
    mouse.y = e.pageY - this.offsetTop;
  }, false);
  
  /* Drawing on Paint App */
  ctx.lineJoin = 'round';
  ctx.lineCap = 'round';
  
  //ctx.strokeStyle = "red";

  function getColor(colour){
    ctx.strokeStyle = colour;
  }
  
  function getSize(size){ctx.lineWidth = size;}
  
  
  //ctx.strokeStyle = 
  //ctx.strokeStyle = document.settings.colour[1].value;
   
  canvas.addEventListener('mousedown', function(e) {
      ctx.beginPath();
      ctx.moveTo(mouse.x, mouse.y);
   
      canvas.addEventListener('mousemove', onPaint, false);
  }, false);
   
  canvas.addEventListener('mouseup', function() {
      canvas.removeEventListener('mousemove', onPaint, false);
  }, false);
   
  var onPaint = function() {
      ctx.lineTo(mouse.x, mouse.y);
      ctx.stroke();
  };
  
  document.getElementById("colorPicker").addEventListener("change", function() {
        var color = this.value;
        // Do something with the selected color
        console.log("Selected color:", color);
        // Change brush color
        ctx.strokeStyle = color;
  });

  function saveDrawing() {
    var tempCanvas = document.createElement('canvas');
    var tempCtx = tempCanvas.getContext('2d');
    tempCanvas.width = canvas.width;
    tempCanvas.height = canvas.height;
    tempCtx.fillStyle = 'white'; // Set background color
    tempCtx.fillRect(0, 0, tempCanvas.width, tempCanvas.height);
    tempCtx.drawImage(canvas, 0, 0); // Draw existing canvas on the new canvas
    var image = tempCanvas.toDataURL(); // Convert canvas to base64 data URL
    var link = document.createElement('a');
    link.href = image;
    link.download = 'my_drawing.png'; // Specify the filename for the download
    link.click(); // Trigger the download
  }
  </script>

{% endblock %}