{% extends "base.html" %} {% block title %}Exercise{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
      #popup-link-exer::before {
        content: "How it helps?";
      }
      
    </style>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
    <button onclick="changeColor_green()" class="color-button green"></button>
    <button onclick="changeColor_yellow()" class="color-button yellow"></button>
    <button onclick="changeColor_orange()" class="color-button orange"></button>
    <button onclick="changeColor_red()" class="color-button red"></button>
    <button onclick="changeColor_blue()" class="color-button blue"></button>
    <button onclick="changeColor_purple()" class="color-button purple"></button>
    <button onclick="changeColor_grey()" class="color-button grey"></button>
    <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
    <button onclick="changeColor_white()" class="color-button white"></button>
    <span class="info-icon">🛈</span>
  </p>  

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/exercising.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Move Your Body!</b></i>&nbsp;</h2>
    <p>
        <a href="https://www.healthline.com/health/heart-disease/exercise-stress-relief" class="popup-link" id="popup-link-exer" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    Engaging in regular exercise has been shown to be an effective way to alleviate stress and promote overall well-being. Such as: -
</p>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <img src="{{ url_for('static', filename='/image/badminton.png') }}" 
    alt="Badminton" style="width:80px; height:80px;">
    <p>Badminton</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/bicycle.png') }}" 
    alt="Biking" style="width:80px; height:80px;">
    <p>Biking</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/dancer.png') }}" 
    alt="Dancing" style="width:80px; height:80px;">
    <p>Dancing</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/swimmer.png') }}" 
    alt="Swimming" style="width:80px; height:80px;">
    <p>Swimming</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/runner.png') }}" 
    alt="Jogging" style="width:80px; height:80px;">
    <p>Jogging</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/aerobic.png') }}" 
    alt="Aerobic" style="width:80px; height:80px;">
    <p>Aerobic</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/basketball.png') }}" 
    alt="Basketball" style="width:80px; height:80px;">
    <p>Basketball</p></div>

    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
    <img src="{{ url_for('static', filename='/image/ping-pong.png') }}" 
    alt="Ping Pong" style="width:80px; height:80px;">
    <p>Ping Pong</p></div>
</div>

<p style="text-align: justify; flex: 1; margin-top: 10px; margin-bottom: 20px;">
    Or, you may play the video to discover a variety of stress-relief exercises that can help you relax and rejuvenate your mind and body.
</p>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <iframe width="448" height="252" 
        src="https://www.youtube.com/embed/6ijg6tpyxXg" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    
    <iframe width="448" height="252" 
        src="https://www.youtube.com/embed/8TuRYV71Rgo" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="margin-left: 2cm;"></iframe>
</div>

{% endblock %}