{% extends "base.html" %} {% block title %}Animal{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
      #popup-link-ani::before {
        content: "How it helps?";
      }
      
    </style>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
    <button onclick="changeColor_green()" class="color-button green"></button>
    <button onclick="changeColor_yellow()" class="color-button yellow"></button>
    <button onclick="changeColor_orange()" class="color-button orange"></button>
    <button onclick="changeColor_red()" class="color-button red"></button>
    <button onclick="changeColor_blue()" class="color-button blue"></button>
    <button onclick="changeColor_purple()" class="color-button purple"></button>
    <button onclick="changeColor_grey()" class="color-button grey"></button>
    <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
    <button onclick="changeColor_white()" class="color-button white"></button>
    <span class="info-icon">🛈</span>
  </p>     

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/btn-cat.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Find Comfort in Furry Friends</b></i>&nbsp;</h2>
    <p>
        <a href="https://newsinhealth.nih.gov/2018/02/power-pets" class="popup-link" id="popup-link-ani" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    <i>Explore the Healing Connection: </i>
    <br>Discover the Power of Pet Therapy for Stress Relief and Unleash the Soothing Benefits of Interacting with Animals.
</p>

<p style="text-align: justify; flex: 1; margin-top: 10px; margin-bottom: 1cm;">
    Can't Interact with Pets or Animals? No Worries! 
    Indulge in the Delightful World of Cute Animal Videos for Instant Stress Relief and Experience 
    the Joy of Watching Adorable Creatures Interacting with Humans.
</p>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <iframe width="532" height="299.25" 
        src="https://www.youtube.com/embed/NgPUpwlH2io" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>

    <iframe width="532" height="299.25" 
        src="https://www.youtube.com/embed/Sg1_7eZ9psc" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="margin-left: 1.4cm;"></iframe>
</div>
{% endblock %}