{% extends "base.html" %} {% block title %}Meditation{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
      #popup-link-medi::before {
        content: "How it helps?";
      }
      
    </style>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
    <button onclick="changeColor_green()" class="color-button green"></button>
    <button onclick="changeColor_yellow()" class="color-button yellow"></button>
    <button onclick="changeColor_orange()" class="color-button orange"></button>
    <button onclick="changeColor_red()" class="color-button red"></button>
    <button onclick="changeColor_blue()" class="color-button blue"></button>
    <button onclick="changeColor_purple()" class="color-button purple"></button>
    <button onclick="changeColor_grey()" class="color-button grey"></button>
    <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
    <button onclick="changeColor_white()" class="color-button white"></button>
    <span class="info-icon">🛈</span>
  </p>  

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/meditation.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Blissful Serenity: Embark on a Meditative Journey</b></i>&nbsp;</h2>
    <p>
        <a href="https://www.mayoclinic.org/tests-procedures/meditation/in-depth/meditation/art-20045858" class="popup-link" id="popup-link-medi" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    In the stillness of meditation, the turbulent waves of stress find their calm, and the mind discovers serenity amidst the chaos.
</p>

<p style="text-align: justify; flex: 1; margin-top: 10px; margin-bottom: 1cm;">
    Embark on a tranquil journey of self-discovery and inner peace through our guided meditation video. 
    Play the video to delve into the soothing realm of mindfulness and rejuvenate your spirit.
</p>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
    <iframe width="532" height="299.25" src="https://www.youtube.com/embed/inpok4MKVLM" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen></iframe>
    
    <iframe width="532" height="299.25" src="https://www.youtube.com/embed/O-6f5wQXSu8" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen
        style="margin-left: 1.4cm;"></iframe>
</div>
{% endblock %}