{% extends "base.html" %} {% block title %}Sing{% endblock %}

{% block content %}
<style>
    /* Custom styles for specific pop-up links */
      #popup-link-ani::before {
        content: "How it helps?";
      }
      
      .btn-img:hover {
        filter: brightness(80%); /* Reduce the brightness on hover */
      }
    </style>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
  <button onclick="changeColor_green()" class="color-button green"></button>
  <button onclick="changeColor_yellow()" class="color-button yellow"></button>
  <button onclick="changeColor_orange()" class="color-button orange"></button>
  <button onclick="changeColor_red()" class="color-button red"></button>
  <button onclick="changeColor_blue()" class="color-button blue"></button>
  <button onclick="changeColor_purple()" class="color-button purple"></button>
  <button onclick="changeColor_grey()" class="color-button grey"></button>
  <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
  <button onclick="changeColor_white()" class="color-button white"></button>
  <span class="info-icon">🛈</span>
</p>  

<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/btn-sing.png') }}" 
        alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h2 style="margin-bottom: 15px;"><i><b>Sing Your Cares Away!</b></i>&nbsp;</h2>
    <p>
        <a href="https://www.singupfoundation.org/singing-health" class="popup-link" id="popup-link-ani" target="_blank">🛈</a>
    </p>
    </div>

<p style="text-align: justify; flex: 1; font-size: 18px;">
    <i>Experience the Soothing Power of Singing: </i>
    <br>Unlock Stress Relief, Express Emotions, and Elevate Your Mood through the Joyful Act of Vocal Expression.
</p>

<p style="text-align: justify; flex: 1; margin-top: 10px; margin-bottom: 1cm;">
  Unlock the hidden melodies of joy! Embark on a karaoke adventure and click your way through an enchanting 
  array of playlist buttons to discover musical treasures that will make your vocal cords dance with delight!
</p>

<br />
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
<!-- List 1 -->
  <a href="https://youtube.com/playlist?list=PL0562084654703201" target="_blank">
    <img src="{{ url_for('static', filename='/image/btn-playlist.png') }}" alt="Music" 
    style="width:250px; height:250px;" id="myList1"  class="btn-img"
    onclick="changeImage('myList1', '{{ url_for('static', filename='/image/btn-singlist.png') }}')">
  </a>

<!-- List 2 -->
  <a href="https://youtube.com/playlist?list=PLLFS4jqFaVsCVsJuuWaPdrYPnsSi6HJ9R" target="_blank">
    <img src="{{ url_for('static', filename='/image/btn-playlist.png') }}" alt="Music" 
    style="width:250px; height:250px; margin-left: 3cm;" id="myList2"  class="btn-img"
    onclick="changeImage('myList2', '{{ url_for('static', filename='/image/btn-singlist.png') }}')">
  </a>

<!-- List 3 -->
  <a href="https://youtube.com/playlist?list=PLfLrbDhqhVEnzDRDGuubgA1PoYY1noCcF" target="_blank">
    <img src="{{ url_for('static', filename='/image/btn-playlist.png') }}" alt="Music" 
    style="width:250px; height:250px; margin-left: 3cm;" id="myList3"  class="btn-img"
    onclick="changeImage('myList3', '{{ url_for('static', filename='/image/btn-singlist.png') }}')">
  </a>
</div>

<script>
  // Function to change the image
  function changeImage(imageId, imagePath) {
    var image = document.getElementById(imageId);
    image.src = imagePath;
  }
</script>
{% endblock %}