{% extends "base.html" %} {% block title %}Activity{% endblock %}

{% block content %}
<style>
  .btn-img:hover {
      filter: brightness(80%); /* Reduce the brightness on hover */
    }
</style>

<br />
<h1 align="center">Activity</h1>
<p class="popup-info">
  <button onclick="changeColor_green()" class="color-button green"></button>
  <button onclick="changeColor_yellow()" class="color-button yellow"></button>
  <button onclick="changeColor_orange()" class="color-button orange"></button>
  <button onclick="changeColor_red()" class="color-button red"></button>
  <button onclick="changeColor_blue()" class="color-button blue"></button>
  <button onclick="changeColor_purple()" class="color-button purple"></button>
  <button onclick="changeColor_grey()" class="color-button grey"></button>
  <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
  <button onclick="changeColor_white()" class="color-button white"></button>
  <span class="info-icon">🛈</span>
</p>  

{#<p>The Activity function is still working in progress, sorry for waiting.</p>#}
<br />
{#<img src="{{ url_for('static', filename='/image/emoji-sorry.png') }}" alt="emoji-sorry" style="width:200px;height:200px;">#}

<!-- Navigation words -->
<h3>Welcome to the Little World of Stress Relief!</h3>

<p style="text-align: justify; flex: 1;">
  Feel free to embark on your stress-relieving journey by choosing any activity that resonates with you!</p>

<br />
<!-- First row -->
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <!-- Music image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; ">
      <a href="/activity/music">
        <img src="{{ url_for('static', filename='/image/btn-music.png') }}" alt="Music" 
        style="width:135px; height:135px;" class="btn-img">
      </a>
      <p style="text-align: center; height: 40px; margin-top: 10px;">Music</p>
    </div>
  
<!-- Journaling image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
      <a href="/space">
        <img src="{{ url_for('static', filename='/image/btn-space.png') }}" alt="Journaling" 
        style="width:135px; height:135px;" class="btn-img">
      </a>
      <p style="text-align: center; height: 40px; margin-top: 10px;">Journaling</p>
    </div>
  
<!-- Eating image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
      <a href="/activity/eating">
        <img src="{{ url_for('static', filename='/image/healthy-food.png') }}" alt="Eating" 
        style="width:135px; height:135px;" class="btn-img">
      </a>
      <p style="text-align: center; height: 40px; margin-top: 10px;">Eating</p>
    </div>
  
<!-- Sleeping image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/sleep">
      <img src="{{ url_for('static', filename='/image/btn-sleep.png') }}" alt="Sleeping" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Sleeping</p>
  </div>

<!-- Exercise image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/exercise">
      <img src="{{ url_for('static', filename='/image/exercising.png') }}" alt="Exercising" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Exercise</p>
  </div>

</div>

<!-- Second row -->
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <!-- Singing image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
    <a href="/activity/sing">
      <img src="{{ url_for('static', filename='/image/btn-sing.png') }}" alt="Sing" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Sing<br></p>
  </div>

  <!-- Talk image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/talk">
      <img src="{{ url_for('static', filename='/image/btn-talk.png') }}" alt="Talk to trusted ones" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Talk to<br>trusted ones</p>
  </div>

  <!-- Interact image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/animal">
      <img src="{{ url_for('static', filename='/image/btn-cat.png') }}" alt="Interact with pets or animals" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Interact with<br>pets or animals</p>
  </div>

  <!-- Drawing image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/drawing">
      <img src="{{ url_for('static', filename='/image/btn-drawing.png') }}" alt="Drawing" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Drawing<br></p>
  </div>

  <!-- Meditation image button -->
  <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 2.5cm;">
    <a href="/activity/meditation">
      <img src="{{ url_for('static', filename='/image/meditation.png') }}" alt="Meditation" 
      style="width:135px; height:135px;" class="btn-img">
    </a>
    <p style="text-align: center; height: 40px; margin-top: 10px;">Meditation<br></p>
  </div>

</div>
<br>
<br>
<div id="section1"></div>

<br /><br />
<h5 style="text-align: justify; flex:1;">
    Looking for more ways to manage your stress and anxiety? Here are more options for you.</h5>
<br />
<div id="sectionZ"></div>
<!-- Other activities -->
<div style="display: flex; flex-direction: row;">
    <img src="{{ url_for('static', filename='/image/menu.png') }}" 
    alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
    <h3 style="margin-top: 5px;">Other Activities</h3></div>
<!-- List of activities -->
{# <a href="https://example.com"><img src="path/to/icon.png"></a> #}
<div style="text-align: justify; flex: 1; margin-left: 1cm; margin-top: 15px;">
    <img src="{{ url_for('static', filename='/image/drawing2.png') }}" 
    alt="Drawing" style="width:40px; height:40px; margin-right: 10px;">
    <h5 style="margin-top: 10px;">Drawing</h5>
    Drawing can be a therapeutic way to reduce stress and improve mental wellbeing. 
    <a href="https://www.healthline.com/health/mental-health/anxiety-drawing" target="_blank">Learn more</a>
  </div>
<div style="text-align: justify; flex: 1; margin-left: 1cm; margin-top: 15px;">
    <img src="{{ url_for('static', filename='/image/exercising.png') }}" 
    alt="Exercising" style="width:40px; height:40px; margin-right: 10px;">
    <h5 style="margin-top: 10px;">Exercising</h5>
    Regular exercise can help to reduce stress, improve mood, and promote overall physical and mental health. 
    <a href="https://www.healthline.com/health/heart-disease/exercise-stress-relief" target="_blank">Learn more</a>
  </div>
<div style="text-align: justify; flex: 1; margin-left: 1cm; margin-top: 15px;">
    <img src="{{ url_for('static', filename='/image/meditation.png') }}" 
    alt="Meditation" style="width:40px; height:40px; margin-right: 10px;">
    <h5 style="margin-top: 10px;">Meditation</h5>
    Meditation can be a powerful tool for reducing stress, increasing mindfulness, and promoting relaxation. 
    <a href="https://www.healthline.com/nutrition/12-benefits-of-meditation" target="_blank">Learn more</a>
  </div>
<div style="text-align: justify; flex: 1; margin-left: 1cm; margin-top: 15px;">
    <img src="{{ url_for('static', filename='/image/healthy-food.png') }}" 
    alt="Healthy Food" style="width:40px; height:40px; margin-right: 10px;">
    <h5 style="margin-top: 10px;">Eating</h5>
    Eating a balanced and healthy diet can help to manage stress levels and improve overall wellbeing. 
    <a href="https://www.healthline.com/health/healthy-eating/why-do-i-eat-when-im-stressed#eating-when-stressed" target="_blank">Learn more</a>
  </div>
<br />

<br />
<p style="text-align: justify;">
  If you are finding it difficult to manage stress and anxiety on your own, 
  we suggest considering reaching out to a mental health professional for personalized support and guidance.
</p>
<p  style="text-align: justify; flex: 1; color: rgb(62, 62, 62); font-size: 14px;">
For immediate assistance, please call: <a href="tel:+60327806803" target="_blank">+603 2780 6803</a> (Mon.-Fri. 9am-5pm, except public holidays).<br>
For more resources and information, please visit <a href="https://mmha.org.my/find-help" target="_blank">Malaysia Mental Health Association (MMHA)</a>.</p>
<br />
<br />
<br />

{% endblock %}