{% extends "base.html" %}

{% block title %}Email Confirmation{% endblock %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h1 class="card-title">Email Confirmation</h1>
      <p class="card-text">
        An email with instructions to confirm your email has been sent to your email address. 
        Please check your inbox and follow the provided link to confirm your email.
        <br><br>
        Kindly contact damidst.uum@gmail.com to get the email confirmation link if you did not receive the email.
      </p>
      
      </form>
    </div>
  </div>
</div>
{% endblock %}