{% extends "base.html" %} {% block title %}Edit Journal{% endblock %}

{% block content %}
<br /><br />
<p style="line-height: 1; font-size: 12px; text-align: right;" class="popup-info">
    <span style="font-size: 16px;">🛈</span>
    <button onclick="changeColor_green()" 
    style="color: #C7EDCC; background-color: #C7EDCC; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_yellow()" 
    style="color: #FAF9DE; background-color: #FAF9DE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_orange()" 
    style="color: #FFF2E2; background-color: #FFF2E2; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_red()" 
    style="color: #FDE6E0; background-color: #FDE6E0; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_blue()" 
    style="color: #DCE2F1; background-color: #DCE2F1; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_purple()" 
    style="color: #E9EBFE; background-color: #E9EBFE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_grey()" 
    style="color: #EAEAEF; background-color: #EAEAEF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_greenLight()" 
    style="color: #E3EDCD; background-color: #E3EDCD; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
    <button onclick="changeColor_white()" 
    style="color: #FFFFFF; background-color: #FFFFFF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
  </p>

<div style="display: flex; flex-direction: row;">
  <img src="{{ url_for('static', filename='/image/writing.png') }}" 
  alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
  <h3 style="margin-top: 5px;">Edit Journal</h3></div>

<p style="margin-left: 1.5cm;  text-align: justify;">
  Take a moment to make any edits you need in your journal entry.
</p>
<!-- display journal content -->
<textarea name="note" id="note" class="form-control" rows="15">{{ note.data }}</textarea>
<br />
<div align="center">
    <button type="button" class="btn btn-info" onClick="updateNote({{ note.id }})" style="width: 2cm;">Save</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" onClick="all_journal()" style="width: 2cm;">Cancel</button>
</div>

{% endblock %}