{% extends "base.html" %} {% block title %}Edit Journal{% endblock %}

{% block content %}
<br /><br />
<p class="popup-info">
  <button onclick="changeColor_green()" class="color-button green"></button>
  <button onclick="changeColor_yellow()" class="color-button yellow"></button>
  <button onclick="changeColor_orange()" class="color-button orange"></button>
  <button onclick="changeColor_red()" class="color-button red"></button>
  <button onclick="changeColor_blue()" class="color-button blue"></button>
  <button onclick="changeColor_purple()" class="color-button purple"></button>
  <button onclick="changeColor_grey()" class="color-button grey"></button>
  <button onclick="changeColor_greenLight()" class="color-button green-light"></button>
  <button onclick="changeColor_white()" class="color-button white"></button>
  <span class="info-icon">🛈</span>
</p>  

<div style="display: flex; flex-direction: row;">
  <img src="{{ url_for('static', filename='/image/writing.png') }}" 
  alt="number-two" style="width:1cm;height:1cm; margin-right: 20px; margin-top: 5px">
  <h3 style="margin-top: 5px;">Edit Journal</h3></div>

<p style="margin-left: 1.5cm;  text-align: justify;">
  Take a moment to make any edits you need in your journal entry.
</p>
<!-- display journal content -->
<textarea name="note" id="note" class="form-control" rows="15">{{ note.data }}</textarea>
<br />
<div align="center">
    <button type="button" class="btn btn-info" onClick="updateNote({{ note.id }})" style="width: 2cm;">Save</button>
    &nbsp;&nbsp;
    <button type="button" class="btn btn-outline-info" onClick="all_journal()" style="width: 2cm;">Cancel</button>
</div>

{% endblock %}