{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<style>
/* Custom styles for specific pop-up links */
  #popup-link-home::before {
    content: "About DA-Midst";
  }

</style>

<br /><br />
<div style="display: flex; flex-direction: row; justify-content: space-between;">
<p style="text-align: left; font-family: 'Times New Roman', Times, serif; font-size: 48px; line-height: 1;">
    <i>Welcome to <b><span style="font-size: 72px;">DA-Midst</span></b></i></p>
    <!-- Change bg colour -->
    <p style="line-height: 1; font-size: 12px; text-align: right;" class="popup-info">
        <span style="font-size: 16px;">🛈</span>
        <button onclick="changeColor_green()" 
        style="color: #C7EDCC; background-color: #C7EDCC; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_yellow()" 
        style="color: #FAF9DE; background-color: #FAF9DE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_orange()" 
        style="color: #FFF2E2; background-color: #FFF2E2; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_red()" 
        style="color: #FDE6E0; background-color: #FDE6E0; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_blue()" 
        style="color: #DCE2F1; background-color: #DCE2F1; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_purple()" 
        style="color: #E9EBFE; background-color: #E9EBFE; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_grey()" 
        style="color: #EAEAEF; background-color: #EAEAEF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_greenLight()" 
        style="color: #E3EDCD; background-color: #E3EDCD; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
        <button onclick="changeColor_white()" 
        style="color: #FFFFFF; background-color: #FFFFFF; border: 0.5; border-color: rgb(230, 230, 230);">&#9632;</button>
      </p>
    </div>
<!-- title -->
<p style="text-align: left; font-size: 24px; line-height: 1;">
    A Chatbot-Enabled Platform for Stress and Anxiety Management System &nbsp;
    <a href="/about-us" class="popup-link" id="popup-link-home">🛈</a></p>
<br />

<!-- menu -->
<div style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
  <!-- Daily Mood Tracking image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
      <a href="/moodtrack">
        <img src="{{ url_for('static', filename='/image/btn-moodtrack.png') }}" alt="Daily Mood Tracking" 
        style="width:100px; height:100px;">
      </a>
      <p style="text-align: center; flex: 1; margin-top: 4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Mood Tracking
      </p>
    </div>
<!-- Activity image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
      <a href="/activity">
        <img src="{{ url_for('static', filename='/image/btn-activity.png') }}" alt="Activity" 
        style="width:100px; height:100px;">
      </a>
      <p style="text-align: center; flex: 1; margin-top: 4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Activity
      </p>
    </div>
<!-- Personal Space image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
      <a href="/space">
        <img src="{{ url_for('static', filename='/image/btn-space.png') }}" alt="Personal Space" 
        style="width:100px; height:100px;">
      </a>
      <p style="text-align: center; flex: 1; margin-top: 4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        Personal Space
      </p>
    </div>
<!-- DASS-21 image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
      <a href="/moodtrack/dass-21">
        <img src="{{ url_for('static', filename='/image/btn-dass21.png') }}" alt="DASS-21 Survey" 
        style="width:100px; height:100px;">
      </a>
      <p style="text-align: center; flex: 1; margin-top: 4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        DASS-21 Survey
      </p>
    </div>
<!-- DASS-21 record image button -->
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-left: 50px;">
      <a href="/moodtrack/dass-21/result">
        <img src="{{ url_for('static', filename='/image/btn-dass_record.png') }}" alt="DASS-21 Record" 
        style="width:100px; height:100px;">
      </a>
      <p style="text-align: center; flex: 1; margin-top: 4px; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        DASS-21 Record
      </p>
    </div>
  </div>
</br>
<!-- introduce DaDa -->
<div style="display: flex; flex-direction: row;">
  <div style="display: flex; flex-direction: column;">
  <a href="/home/chat">
  <img src="{{ url_for('static', filename='/image/chatbot.png') }}" alt="chatbot" style="width:240px; height:240px; margin-right: 1cm;"></a>
  <p style="text-align: center; flex: 1; margin-top: 10px; margin-right: 1cm; color: #7e7e7e;">
    <i>Available 24/7</i>
  </p>
</div>
  <div style="display: flex; flex-direction: column; margin-top: 1cm;">
  <p style="text-align: justify;">
    <span style="font-size: 24px;">Hi {{ user.user_name }}! </span><br>
    <span>I'm <span style="font-size: 20px;"><b>DaDa</b></span>, your personal stress and anxiety management chatbot. How can I assist you today?
    Click the button below and chat with me now!
    If you are yet ready to chat with me, you may also click the buttons on the menu bar to explore DA-Midst.</span>
  <br><br>
    <!--activate chatbot-->
    <!-- change to onClick="chat()" if dont want the chat interface to be open in another tab -->
    <!-- change to onclick="window.open('/home/chat')" if want the chat interface to be open in another tab -->
    <button type="button" class="btn btn-info" onclick="chat()" target="_blank" 
    style="float: right; margin-left: 10px; margin-top: 10px;">Chat with DaDa</button>
  </p>
  <p style="text-align: right; flex: 1; color: rgb(62, 62, 62); font-size: 12px;">
    For immediate assistance, please call: <a href="tel:+60327806803" target="_blank">+603 2780 6803</a> (Mon.-Fri. 9am-5pm, except public holidays).<br>
    For more resources and information, please visit <a href="https://mmha.org.my/find-help" target="_blank">Malaysia Mental Health Association (MMHA)</a>.</p>
</div>
</div>

<!-- can use this to do FAQ
  <p style="text-align: justify; flex: 1;">
  {#<a href="/about-us#section1">Learn more about DA-Midst</a>#}
</p> -->
<br />
<!-- introduce chatbot -->
{#
<p style="text-align: left; font-size: 24px; line-height: 1;">
    Meet <b><i><span style="font-size: 30px;">DaDa</span></i></b>: Your personal chatbot for stress and anxiety management, available 24/7</p>
<br />
<div style="display: flex; flex-direction: row;">
<img src="{{ url_for('static', filename='/image/chatbot.png') }}" alt="chatbot" style="width:240px; height:240px; margin-right: 2cm;">
    <div style="display: flex; flex-direction: column;">
    <p style="text-align: justify;">
        <span style="font-size: 24px;">Hi {{ user.user_name }}! </span><br>
        I'm DaDa, your personal stress and anxiety management chatbot. How can I assist you today?
        Click the button below and chat with me now!
        If you are yet ready to chat with me, you may also click the buttons on the menu bar to explore DA-Midst.
    <br><br>
    <!--activate chatbot-->
    <!-- change to onClick="chat()" if dont want the chat interface to be open in another tab -->
    <!-- change to onclick="window.open('/home/chat')" if want the chat interface to be open in another tab -->
    <button type="button" class="btn btn-info" onclick="chat()" target="_blank" 
    style="float: right; margin-left: 10px; margin-top: 10px;">Chat with DaDa</button>
    </p>
    <p style="text-align: right; flex: 1; color: rgb(62, 62, 62); font-size: 12px;">
        For immediate assistance, please call: <a href="tel:+60327806803" target="_blank">+603 2780 6803</a> (Mon.-Fri. 9am-5pm, except public holidays).<br>
        For more resources and information, please visit <a href="https://mmha.org.my/find-help" target="_blank">Malaysia Mental Health Association (MMHA)</a>.</p>
    </div>
</div>#}
{% endblock %}