{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h1 class="card-title">Password Reset</h1>
      <p class="card-text">
        An email with instructions to reset your password has been sent to your email address. 
        Please check your inbox and follow the provided link to reset your password.
        <br><br>
        Kindly contact damidst.uum@gmail.com to get the password reset link if you did not receive the email.
      </p>
      
      </form>
    </div>
  </div>
</div>
{% endblock %}
