{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="container">
  <div class="card mt-5">
    <div class="card-body">
      <h1 class="card-title">Password Reset</h1>
      <p class="card-text">Please enter your email address to request a password reset.</p>
      
      <form method="POST" action="{{ url_for('auth.reset') }}" class="mt-4">
        {{ form.csrf_token }}
        <div class="form-group">
          <label for="email">Email</label>
          {{ form.email(class="form-control", id="email", placeholder="Enter your registered email address") }}
          {% if form.email.errors %}
            <ul class="errors">
              {% for error in form.email.errors %}
                <li class="text-danger">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-dark">Reset Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
